.headline {
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
}

.headline::before,
.headline::after {
  content: "";
  display: inline-block;
  width: 180px; 
  height: 3px; 
  background-color: var(--clr-neon); 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.headline::before {
  left: 0;
}

.headline::after {
  right: 0;
}

.container-1 .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-1 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 350px;
  margin-bottom: 30px;
  scale: 1.2;
}

.container-1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container-1 .imagesWrapper {
  position: relative;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--clr-neon)
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: red;
}

@media (max-width: 820px) {
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-top: 1rem;
    scale: 2;
  }

    .headline::before,
    .headline::after {
      width: 0;

    }

    .headline {
      font-size: 40px;
    }
}

