:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --clr-neon: rgba(255, 0, 0, 1); /* neon button */
  --clr-bg: rgba(255, 0, 0, 0.7); /* neon button */
  /*  
  background: rgb(9, 0, 0);
  background: linear-gradient(270deg, rgba(9, 0, 0, 1) 0%, rgba(152, 18, 20, 1) 50%, rgba(9, 0, 0, 1) 100%);
  */
  
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  min-height: 100vh;
  background-image: url(../../public/images/ktbg.png);
  background-size: cover;
  background-attachment: fixed;
}

section {
  height: 100vh;
  padding: 3rem;
}




