@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --clr-neon: rgba(255, 0, 0, 1); /* neon button */
  --clr-bg: rgba(255, 0, 0, 0.7); /* neon button */
  /*  
  background: rgb(9, 0, 0);
  background: linear-gradient(270deg, rgba(9, 0, 0, 1) 0%, rgba(152, 18, 20, 1) 50%, rgba(9, 0, 0, 1) 100%);
  */
  
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: white;
  min-height: 100vh;
  background-color: black;
  
  
}

section {
  height: 100vh;
  padding: 3rem;
  
  
}

@media (max-width: 600px) {
  section {
    padding: 5px;
    
  }
}




