.wrapper {
  padding: 3rem;
  margin-bottom: 4rem;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headline {
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
}



.headline::before,
.headline::after {
  content: "";
  display: inline-block;
  width: 150px; 
  height: 3px; 
  background-color: var(--clr-neon); 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.headline::before {
  left: 0;
}

.headline::after {
  right: 0;
}

.boxes {
  display: flex;
  gap: 1.5rem;
}

.box {
  text-align: center;
  padding: 32px 32px 32px 32px;
  width: 33.3%;
  border: var(--clr-neon) 0.125em solid;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: background-color 0.2s ease-in;
}

.box:hover {
  background: rgb(43, 43, 43);
}

.icon {
  width: 50px;
  height: 50px;
}

.wrapper .buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.buttonBox a {
  font-weight: 500;
  background-color: #020202FA;
  border-style: solid;
  border-color: var(--clr-neon);
  border-radius: 50px 50px 50px 50px;
  padding: 20px;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.iconTlg {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  color: white;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.buttonWrapper span {
  display: inline-block;
  line-height: 2;
  color: white;
  font-size: 22px;
  
}

.buttonBox a:hover {
  background-color: var(--clr-neon);
  transform: scale(1.1)
}

@media (max-width: 820px) {
  .boxes {
    flex-direction: column;
    width: 100%;
  }

  .box {
    width: 100%;
    
    
  }

  .box p {
    font-size: 28px;
  }

  .buttonBox {
    scale: 1.2;
    margin-top: 85px;
  }

  .headline {
    font-size: 40px;
  }

  .headline::before,
  .headline::after {
    display: none;
  }
}

@media (max-width:600px) {
  .wrapper {
    padding: 0px;
    height: fit-content;
    
  }

  .headline {
    font-size: 36px;
  }

  .box p {
    font-size: 20px;
  }

  
}
